<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title></title> 
		
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="http://code.jquery.com/jquery-1.9.1.js"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
		
	</head>
	<body style="background-image: url(../static/gerb.png); background-repeat: no-repeat; background-attachment: fixed;">
		<div class="container">
			<div class="row">
				<div class="col-md-9">
					<div class="container">
						<div class="header_main" style="margin: 0px; z-index: 0; height: 100px;">
							<div class="header" style="height: 100px; position: fixed; z-index: 9999; background-color: #ffffff;">
								<div class="col-md-9">
									<h2 class="text-center">Федеральное Государственное Бюджетное Образовательное Учереждение Высшего Образования Академия Гражданской Защиты МЧС России
									</h2>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="container">
				<div class="row">
					<div class="col-md-12">
						<div class="panel">
							<div class="panel-body">
								<div class="text-center"> 
									<h3>
										Добро пожаловать в систему тестирования, {{user.name}}!
									</h3>
								</div>
						    	<br>
					    			<div class="row">
						    			<div class="col-md-8 col-md-offset-2">
							    			<form id="testing-start-form" class="form-horizontal" method="GET" action="/test">
							    				<div class="form-group">
							    					<input type="submit" class="btn btn-primary form-control {{'disabled' if user.attempts == 0 else ''}}" value="{{'Продолжить тест' if continue_test else 'Начать тестирование (Осталось попыток: ' + user.attempts|string + ')'}}"/>
							    				</div>
						    				</form> 
					    				</div>
					    			</div>
					    			<div class="row">
						    			<div class="col-md-8 col-md-offset-2">
						    				<form id="testing-start-form" class="form-horizontal" method="GET" action="/">
						    					<div class="form-group">
							    					<input type="submit" class="btn btn-primary form-control" value="Выход"/>
							    				</div>
						    				</form> 
							    		</div>
					    			</div>
					    		
						  	</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</body>
</html>
