<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title></title> 
		
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="http://code.jquery.com/jquery-1.9.1.js"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
	</head>
	<body>
		<div class="container">
			<div class="row">
				<div class="col-md-3 col-sm-3">
				</div>
				<div class="col-md-6 col-sm-6">
					<h1 class="text-center">
						Отчет о прохождении тестирования
					</h1>
				</div>
			</div>
			<br />
			<div class="row">
				<div class="col-md-6 col-sm-6">
					<h4 class="text-left">
						Специальность/направление подготовки
					</h4>
				</div>
				<div class="col-md-6 col-sm-6">
					<h4 class="text-right">
						<ins>
                            ____________________
						</ins>
					</h4>
				</div>
			</div>
			<div class="row">
				<div class="col-md-6 col-sm-6">
					<h4 class="text-left">
						Дисциплина
					</h4>
				</div>
				<div class="col-md-6 col-sm-6">
					<h4 class="text-right">
						<ins>
                            _Физическая культура_
						</ins>
					</h4>
				</div>
			</div>
			<div class="row">
				<div class="col-md-6 col-sm-6">
					<h4 class="text-left">
						Цикл дисциплины
					</h4>
				</div>
				<div class="col-md-6 col-sm-6">
					<h4 class="text-right">
						<ins>
                            ____________________
						</ins>
					</h4>
				</div>
			</div>
			<div class="row">
				<div class="col-md-6 col-sm-6">
					<h4 class="text-left">
						Группа
					</h4>
				</div>
				<div class="col-md-6 col-sm-6">
					<h4 class="text-right">
						<ins>
							{{group.group}}
						</ins>
					</h4>
				</div>
			</div>
			<div class="row">
				<div class="col-md-6 col-sm-6">
					<h4 class="text-left">
						Курс
					</h4>
				</div>
				<div class="col-md-6 col-sm-6">
					<h4 class="text-right">
						<ins>
                            ____________________
						</ins>
					</h4>
				</div>
			</div>
			<div class="row">
				<div class="col-md-6 col-sm-6">
					<h4 class="text-left">
						Количество студентов на курсе 
					</h4>
				</div>
				<div class="col-md-6 col-sm-6">
					<h4 class="text-right">
						<ins>
							{{group.students_count}}
						</ins>
					</h4>
				</div>
			</div>
			<div class="row">
				<div class="col-md-6 col-sm-6">
					<h4 class="text-left">
						Количество студентов, участвующих в тестировании  
					</h4>
				</div>
				<div class="col-md-6 col-sm-6">
					<h4 class="text-right">
						<ins>
							{{group.testing_students_count}}
						</ins>
					</h4>
				</div>
			</div>
			<div class="row">
				<div class="col-md-12">
					<h4 class="text-left">
						Количество студентов, получивших отметку:  
					</h4>
				</div>
			</div>
			<div class="row">
				<div class="col-md-11 col-md-offset-1">
					<ul>
						<li> отлично <ins>{{group.A_degree}}</ins></li>
						<li> хорошо <ins>{{group.B_degree}}</ins></li>
						<li> удовлетворительно <ins>{{group.C_degree}}</ins></li>
						<li> неудовлетворительно <ins>{{group.D_degree}}</ins></li>
					</ul>
				</div>
			</div>
			<div class="row">
				<div class="col-md-6 col-sm-6">
					<h4 class="text-left">
						Количество студентов, освоивших все ДЕ  
					</h4>
				</div>
				<div class="col-md-6 col-sm-6">
					<h4 class="text-right">
						<ins>
							{{group.all_de_students}}
						</ins>
					</h4>
				</div>
			</div>
			<br />
			<br />
			<div class="row">
				<div class="col-md-6 col-sm-6">
					<h4 class="text-left">
						Обработка результатов проведена   
					</h4>
				</div>
				<div class="col-md-6 col-sm-6">
					<h4 class="text-right">
						<ins>
                            ____________________
						</ins>
					</h4>
				</div>
			</div>
            <!--
			<div class="row">
				<div class="col-md-6 col-sm-6 col-md-offset-6">
					<h6 class="text-right">
						   (ученая степень, должность, Ф.И.О., подпись)
					</h6>
				</div>
			</div>
            --!>
			<div class="row">
				<div class="col-md-12 col-sm-12">
					<h5 class="text-left">
						{{date.day}}.{{date.month}}.{{date.year}}
					</h5>
				</div>
			</div>
		</div>
	</body>
</html>
