{% extends 'admin/master.html' %}

{% block body %}
    <h3>Добро пожаловать!</h3>
    Вы находитесь на странице администратора. Здесь вы можете просматривать и редактировать информацию о пользователях, а также вопросы в тесте. Кроме того, вы можете получить отчёт по каждой конкретной группе студентов.
    <br>
    <br>
    <ul>
        <li><a href="/admin/user">Просмотр и редактирование пользователей</a></li>
        <li><a href="/admin/question">Просмотр и редактирование вопросов</a></li>
    </ul>
    Не зубадьте <a href="/logout">выйти</a> после того, как закончите работу!
{% endblock %}
