<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title></title> 
		
		<link rel="stylesheet" href="/static/bootstrapcdn-3.3.7.css" ">
		<script src="/static/jQuery-1.9.1.js"></script>
		<script src="/static/bootstrap-3.3.7.js"></script>
	</head>
	<body>
		<div class="container">
			<div class="row">
				<div class="col-md-3 col-sm-3">
				</div>
				<div class="col-md-6 col-sm-6">
					<h1 class="text-center">
						Результаты тестирования
					</h1>
				</div>
			</div>
			<br />
			<div class="row">
				<div class="col-md-6 col-sm-6">
					<h4 class="text-left">
						ФИО обучающегося
					</h4>
				</div>
				<div class="col-md-6 col-sm-6">
					<h4 class="text-right">
						<ins>
							{{user.name}}
						</ins>
					</h4>
				</div>
			</div>
			<div class="row">
				<div class="col-md-6 col-sm-6">
					<h4 class="text-left">
						Группа
					</h4>
				</div>
				<div class="col-md-6 col-sm-6">
					<h4 class="text-right">
						<ins>
							{{user.group}}
						</ins>
					</h4>
				</div>
			</div>
			<div class="row">
				<div class="col-md-6 col-sm-6">
					<h4 class="text-left">
						Дисциплина
					</h4>
				</div>
				<div class="col-md-6 col-sm-6">
					<h4 class="text-right">
						<ins>
							Физическая культура
						</ins>
					</h4>
				</div>
			</div>
			<div class="row">
				<div class="col-md-6 col-sm-6">
					<h4 class="text-left">
						Результат тестирования
					</h4>
				</div>
				<div class="col-md-6 col-sm-6">
					<h4 class="text-right">
						<ins>
                            {{ ["неудовлетворительно", "удовлетворительно", "хорошо", "отлично"][grade_ind]}}
						</ins>
					</h4>
				</div>
			</div>
			<div class="row">
				<div class="col-md-12 col-md-offset-1">
					<div class="col-md-4 col-xs-4 col-sm-4">
						<h4>
							Всего вопросов: {{result.n_total}}
						</h4>
					</div>				
					<div class="col-md-4 col-xs-4 col-sm-4">
						<h4>
							Правильно отвечено: {{result.n_correct}}
						</h4>
					</div>				
					<div class="col-md-4 col-xs-4 col-sm-4">
						<h4>
							Неправильно: {{result.n_total - result.n_correct}}
						</h4>
					</div>
				</div>
			</div>
			<div class="col-md-12">
				<h4 class="text-center"> Степень освоения дидактических единиц по разделам</h4>
				<table class="table table-bordered">
					<tr>
						<td>ДЕ 1</td>
						<td>ДЕ 2</td>
						<td>ДЕ 3</td>
						<td>ДЕ 4</td>
						<td>ДЕ 5</td>
						<td>ДЕ 6</td>
					</tr>
					<tr>
						<td>
                            {{ (result.de_0 * 100) | round() | int() }}%
							{%if result.de_0 >= 0.5 %}
                                <div class="pull-right" style="background-image: url(/static/glyphicon_ok.png); background-repeat: no-repeat;  height: 19px; width: 21px;" aria-hidden="true"></div>
							{% else %}
								<div class="pull-right" style="background-image: url(/static/glyphicon_remove.png); background-repeat: no-repeat; height: 19px; width: 21px;" aria-hidden="true"></div>
							{%endif%}
						</td>
						<td>
                            {{ (result.de_1 * 100) | round() | int() }}%
							{%if result.de_1 >= 0.5 %}
								<div class="pull-right" style="background-image: url(/static/glyphicon_ok.png); background-repeat: no-repeat;  height: 19px; width: 21px;" aria-hidden="true"></div>
							{% else %}
								<div class="pull-right" style="background-image: url(/static/glyphicon_remove.png); background-repeat: no-repeat; height: 19px; width: 21px;" aria-hidden="true"></div>
							{%endif%}
						</td>
						<td>
                            {{ (result.de_2 * 100) | round() | int() }}%
							{%if result.de_2 >= 0.5 %}
								<div class="pull-right" style="background-image: url(/static/glyphicon_ok.png); background-repeat: no-repeat;  height: 19px; width: 21px;" aria-hidden="true"></div>
							{% else %}
								<div class="pull-right" style="background-image: url(/static/glyphicon_remove.png); background-repeat: no-repeat; height: 19px; width: 21px;" aria-hidden="true"></div>
							{%endif%}
						</td>
						<td>
                            {{ (result.de_3 * 100) | round() | int() }}%
							{%if result.de_3 >= 0.5 %}
								<div class="pull-right" style="background-image: url(/static/glyphicon_ok.png); background-repeat: no-repeat;  height: 19px; width: 21px;" aria-hidden="true"></div>
							{% else %}
								<div class="pull-right" style="background-image: url(/static/glyphicon_remove.png); background-repeat: no-repeat; height: 19px; width: 21px;" aria-hidden="true"></div>
							{%endif%}
						</td>
						<td>
                            {{ (result.de_4 * 100) | round() | int() }}%
							{%if result.de_4 >= 0.5 %}
								<div class="pull-right" style="background-image: url(/static/glyphicon_ok.png); background-repeat: no-repeat;  height: 19px; width: 21px;" aria-hidden="true"></div>
							{% else %}
								<div class="pull-right" style="background-image: url(/static/glyphicon_remove.png); background-repeat: no-repeat; height: 19px; width: 21px;" aria-hidden="true"></div>
							{%endif%}
						</td>
						<td>
                            {{ (result.de_5 * 100) | round() | int() }}%
							{%if result.de_5 >= 0.5 %}
								<div class="pull-right" style="background-image: url(/static/glyphicon_ok.png); background-repeat: no-repeat;  height: 19px; width: 21px;" aria-hidden="true"></div>
							{% else %}
								<div class="pull-right" style="background-image: url(/static/glyphicon_remove.png); background-repeat: no-repeat; height: 19px; width: 21px;" aria-hidden="true"></div>
							{%endif%}
						</td>
					</tr>
				</table>
			</div>
			<br />
			<br />
			<div class="row">
				<div class="col-md-12 col-sm-12">
					<h5 class="text-left">
                        {{date.day}}.{{date.month}}.{{date.year}}</ins>
					</h5>
				</div>
			</div>
		</div>
	</body>
</html>
